.ProductsDesign .single-case{
  border: 1px solid gray;
  border-radius: 5px;
  /* padding: 5px; */
}

.ProductsDesign .single-case .content{
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 15px;
  /* box-shadow: 0px ; */
}

.mobile-nav img{
    height: 40px;
}

.ProductsDesign{
    margin: 15px 0px;
}

.clientLogo img{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    width: auto !important;

}

/* .clientLogo{
    border: 1px solid gray;
    padding: 20px 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px gray;
} */

.rsckbox{
    border: 1px solid gray;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 20px;
}

.article-image{
    margin-top: 30px;
    margin-bottom: 30px;
}

.inside-products .prod-description{
    margin: 15px 0px;
}

.prod-main-title{
    margin: 20px 0px;
}

.aboutus-list-points li{
    /* border: 1px solid red; */
    color: #7a7e9a !important;
    font-size: 15px !important;
    list-style-type: circle;
    padding-left: 0px !important;
    margin:0px 0px 0px 20px !important;
}

/* Milesstone */

    .milestones-section {
    padding: 80px 20px;
    background-color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;
    }

    .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
    }

    .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: #0d6efd;
        top: 0;
        /* bottom: 0; */
        bottom: 180px; /* instead of bottom: 0; */

        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-item {
      padding: 0px 25px;
      /* padding: 20px 40px; */
      position: relative;
      width: 50%;
    }

    .timeline-item.left {
    left: 0;
    }

    .timeline-item.right {
    left: 50%;
    }

    .timeline-item.center {
    left: 25%;
    width: 50%;
    text-align: center;
      margin-top: 60px;
    }

    .timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0d6efd;
    border: 4px solid #fff;
    z-index: 1;
    }

    .timeline-item.left::before {
    right: -10px;
    }

    .timeline-item.right::before {
    left: -10px;
    }

    .timeline-item.center::before {
    left: 50%;
    transform: translateX(-50%);
      top: 0px; /* instead of 20px */

    }

    .timeline-item .content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .timeline-item .content.highlight {
    border: 2px solid #0d6efd;
    }

    .timeline-item h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #0d6efd;
    }

    .timeline-item p {
    margin: 10px 0 0;
    font-size: 16px;
    }

    /* trofi */

    .timeline-item::before {
    content: "\f091"; /* Trophy Unicode */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    /* color: #fff;
    background-color: #0d6efd; */
    background-color: #000; /* gold */
    color:#ffc107;


    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    }

    .timeline-item.left::before {
    right: -18px;
    }

    .timeline-item.right::before {
    left: -18px;
    }

    /* .timeline-item.center::before {
    left: 50%;
    transform: translateX(-50%);
    } */
@media (max-width: 520px) {

  .timeline-item .content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 0px;
}


  .company-content{
      padding: 0px;
      /* padding: 0px 120px; */
  }

    .logo img{
        height: 30px !important;
    }



    .timeline::after{
        content: '';
        position: absolute;
        width: 4px;
        background-color: #0d6efd;
        top: 25px;
        /* bottom: 0; */
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-item.center{
        /* left: 25%; */
        width: 100%;
        /* text-align: center; */
        margin-top: 0px;
    }


  .timeline::after {
    left: 20px; /* Center line now on left side */
  }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
    margin-bottom: 0px;
    /* margin-bottom: 40px; */
  }

  .timeline-item.left,
  .timeline-item.right,
  .timeline-item.center {
    left: 0;
    text-align: left;
  }

  .timeline-item::before {
    left: 20px !important; /* Trophy marker on left */
    right: auto;
  }

  .timeline-item.center::before {
    left: 20px !important;
    transform: none;
  }

  .timeline-item .content {
    text-align: left;
  }

  .company-content {
        padding: 40px 20px !important;
    }
}

.home-company-area .IndustriesPoints li{
    /* border: 1px solid red; */
    line-height: 2;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.home-blog-area .single-blog {
    background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.07);
    z-index: 1;
    /* border: 1px solid red; */
    height: 590px;
}

.companyLocations{
  margin-bottom: 50px;
  /* border: 1px solid blue; */
}
